/* media query : size of iphone12 (390 x 844px) */
@media only screen and (max-width: 390px) {

    /* header*/
    header {
        /* background-color: #EAEAEA; */
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
        border-bottom: solid 1px;
        border-bottom-color: #9A9A9A;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    }

    .logo img {
        width: 182px;
        margin-bottom: 20px;
    }

    .search-box {
        width: 100%;
        max-width: 288px;
    }

    .search-box input[type="search"] {
        appearance: none;
        width: 86vw;
        height: 47px;
        border-radius: 8px;
        background-color: #EAEAEA;
        border: none;
        background-image: url(/image/icon/search.svg);
        background-repeat: no-repeat;
        background-position: 10px 14px;
        padding-left: 40px;
        position: relative;
    }

    .filter {
        background-color: #212121;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-left: 100%;
        position: relative;
        top: -40px;
    }


    .filter img {
        width: 22px;
        height: 22px;
        margin-left: 6px;
        margin-top: 0px;
    }

    /* nav  */
    nav {


        /* display:none; */

        margin-left: 30px;
        margin-top: 40px;
        padding-left: 20px;
        /* background-color: yellow; */
        height: 100vh;
        background-color: #f8f8f8 !important;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(500px);
        z-index: 1000;
        transition: transform 0.3s ease;
        box-shadow: 11px 12px 8px 10px #888;
    }


    nav img {
        width: 27px;
        height: 27px;
        margin-top: 32px;
        margin-bottom: 34px;
    }

    nav h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    nav h4 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .regions {
        width: 292px;
        height: 36px;
        background-color: #fff;
        border-bottom: 1px solid #616161;
        border-radius: 8px;
        margin-bottom: 34px;
        cursor: pointer;
    }




    .suitability p {
        margin-top: 16px;
    }

    .suitability label {
        font-size: 16px;
        cursor: pointer;
    }


    nav button {
        font-weight: bold;
        font-family: 'Raleway';
        font-size: 14px;
        width: 286px;
        height: 44px;
        border-radius: 8px;
        border: solid 1px #616161;
        background-color: #fff;
        margin-top: 94px;
        cursor: pointer;
    }



    #navi.navi.active {
        transform: translateX(0);
    }


    /* main */
    main {
        height: calc(100vh - 260.67px);
        overflow: auto;
    }

    .content-box {
        margin: 28px 30px 0px 30px;
        border-bottom: solid 1px #E0E0E0;
        cursor: pointer;
    }

    .content-box .site {
        width: 100%;
        border-radius: 8px;
    }

    .content-box div {
        display: flex;
    }

    .content-box div img {
        margin-top: 16px;
    }

    .content-box h2 {
        margin-top: 18px;
        margin-right: 80px;
        font-size: 17px;
        width: 220px;
    }

    .content-box p {
        margin-top: 8px;
        font-size: 13px;
    }

    main p:last-child {
        margin-bottom: 30px;
    }

    .load-more-box {
        /* background-color: yellowgreen; */
        margin: auto 0;
        /* height: 100px; */
    }

    .load-more-box button {
        text-align: center;
        width: 330px;
        padding: 10px 0px 10px 0px;
        margin-left: 30px;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid #616161;
        cursor: pointer;
        margin-bottom: 20px;
    }


    .up {
        background-color: #43A047;
        width: 40px;
        height: 40px;
        position: fixed;
        right: 20px;
        top: 660px;
        border-radius: 50%;
        z-index: 100;
    }

    .up p {
        text-align: center;
        line-height: 4;
    }

    .up p img {
        color: #212121
    }

}